<h1> <%= @place.name %> </h1>

<h2>Activities</h2>
    <ul>
        <% for post in @place.posts%>
            <h3> <%= post.title %> </h3>
            <em> <%= post.posted_on %> </em>
            <p><%= post.description %> </p>            
        <% end %>
    </ul>


<a href="/posts/new?place_id=<%=@place.id%>"> Add an activity</a>

<em>
    <%= button_to "Delete Destination", @place, method: :delete%>
</em>

<button type="button"><a href="/places"> Back to destinations list</a>